doctype 5
/[if lt IE 8]
  | <html class="ie lt-ie9 lt-ie8 no-js">
/[if IE 8]
  | <html class="ie ie8 lt-ie9 no-js">
/[if IE 9]
  | <html class="ie ie9 no-js">
| <!--[if (gte IE 9)|!(IE)]<!-->
html.no-js
  | <!--<![endif]-->

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    meta name="viewport" content="width=device-width"
    meta name="description" content=""

    title "Tagil"

    = stylesheet_link_tag "main"
    = javascript_include_tag  "vendor/modernizr-2.6.2.min.js"

  body
    = yield

    script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"

    javascript:
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')

    = javascript_include_tag "plugins"
    = javascript_include_tag "main"
