li.c__comments-item
  img.c__comment-avatar src="img/temp/person2.jpg" alt=""
  .c__comment-title
    span.c__comment-name Анна Ахматова
    span.c__comment-date 15.02.2014
  p.c__comment-text Размещение концентрирует социометрический пул лояльных изданий, расширяя долю рынка. Пак-шот, не меняя концепции, изложенной выше, изящно развивает продукт, осознав маркетинг как часть производства. В рамках концепции Акоффа и Стэка, концепция маркетинга категорически транслирует ребрендинг, учитывая результат предыдущих медиа-кампаний.
  a.c__comment-answer href="#" Ответить
    
li.c__comments-item
  img.c__comment-avatar src="img/temp/person1.jpg" alt=""
  .c__comment-title
    span.c__comment-name Николай Павлов
    span.c__comment-date 15.02.2014
  p.c__comment-text Размещение концентрирует социометрический пул лояльных изданий, расширяя долю рынка. Пак-шот, не меняя концепции, изложенной выше, изящно развивает продукт, осознав маркетинг как часть производства. В рамках концепции Акоффа и Стэка, концепция маркетинга категорически транслирует ребрендинг, учитывая результат предыдущих медиа-кампаний.
  a.c__comment-answer href="#" Ответить

li.c__comments-item.c__comments-item--answer
  img.c__comment-avatar src="img/temp/person2.jpg" alt=""
  .c__comment-title
    span.c__comment-name Алексей Навальный
    span.c__comment-date 15.02.2014
  p.c__comment-text Размещение концентрирует социометрический пул лояльных изданий, расширяя долю рынка. Пак-шот, не меняя концепции, изложенной выше
  a.c__comment-answer href="#" Ответить

li.c__comments-item
  img.c__comment-avatar src="img/temp/person2.jpg" alt=""
  .c__comment-title
    span.c__comment-name Анна Ахматова
    span.c__comment-date 15.02.2014
  p.c__comment-text Размещение концентрирует социометрический пул лояльных изданий, расширяя долю рынка. Пак-шот, не меняя концепции, изложенной выше, изящно развивает продукт, осознав маркетинг как часть производства. В рамках концепции Акоффа и Стэка, концепция маркетинга категорически транслирует ребрендинг, учитывая результат предыдущих медиа-кампаний.
  a.c__comment-answer href="#" Ответить