li.c__comments-item.c__comments-item--unsigned.clearfix
  .c__unsigned-message
    | Чтобы оставить комментарий, авторизуйтесь
    br
    | через любую из социальных сетей:
  ul.c__social
    li.c__social-item
      a.c__social-link.c__social-link--ok href="#" OK
    li.c__social-item
      a.c__social-link.c__social-link--google href="#" Google+
    li.c__social-item
      a.c__social-link.c__social-link--twitter href="#" Twitter
    li.c__social-item
      a.c__social-link.c__social-link--facebook href="#" Facefook
    li.c__social-item
      a.c__social-link.c__social-link--vk href="#" VK
