li.c__comments-item.c__comments-item--user
  header.c__comment-add Добавить комментарий
  img.c__comment-avatar src="img/temp/person1.jpg" alt=""
  p.c__comment-came Вы зашли как
  .c__comment-user
    span.c__comment-name Сергей Алексеев
  a.c__comment-exit href="#" Выйти
  form.c__comment-form action="/"
    textarea.c__comment-textarea name="message"
    button.c__comment-button Отправить
