.content
  = partial "partials/slogan"

  .c__inner.clearfix
    .c__info
      .c__video-block.js-video-handler href="#"
        / img.c__video-block__image src="/img/temp/4.jpg" alt=""
        iframe.c__video-block__player allowfullscreen="" frameborder="0" height="380" src="//www.youtube.com/embed/2fjUqL1-xx8" width="620"
        .c__video-block__caption.clearfix
          .c__video-block__date 15.02.2014
          .c__video-block__title Ничего не значащий заголовок
          .c__video-block__comments.js-video-comments-handler
            span.c__comments-label Показать
            br
            | комментарии (12)

        .c__comments
          ul.c__comments-list

            = partial "partials/comments-user"
            = partial "partials/comments-list"
              
          .c__video-block__bottom.js-video-comments-hide
            .c__video-block__comments.c__video-block__comments--bottom.open Скрыть комментарии

      = partial "partials/video-mainpage"
      a.c__all-video href="#" Все видео

    = partial "partials/sidebar"

