.content
  = partial "partials/slogan"

  .c__inner.c__inner--videos.clearfix
    .c__info
      .clearfix
        .c__videos-title Все видео
        a.c__videos-back href="#" Назад на главную

      = partial "partials/video-videos"

      ul.c__pagenavigation.clearfix
        li.c__pagenavigation-item
          .c__pagenavigation-link href="#" ...
        li.c__pagenavigation-item
          .c__pagenavigation-link.c__pagenavigation-link--selected 5
        li.c__pagenavigation-item
          a.c__pagenavigation-link href="#" 6
        li.c__pagenavigation-item
          a.c__pagenavigation-link href="#" 7
        li.c__pagenavigation-item
          a.c__pagenavigation-link href="#" 8
        li.c__pagenavigation-item
          a.c__pagenavigation-link href="#" 9
        li.c__pagenavigation-item
          a.c__pagenavigation-link href="#" 10
        li.c__pagenavigation-item
          a.c__pagenavigation-link href="#" 11

