.content
  = partial "partials/slogan"

  .c__inner.c__inner--one.clearfix
    .c__info
      .clearfix
        a.c__videos-prev href="#" Предыдущее видео
        a.c__videos-next href="#" Следующее видео

      .c__video-block.js-video-handler href="#"
        iframe.c__video-block__player allowfullscreen="" frameborder="0" height="529" src="//www.youtube.com/embed/1W0L-v2NlRk" width="940"
        .c__video-block__caption.clearfix
          .c__video-block__date 15.02.2014
          .c__video-block__title Ничего не значащий заголовок

        .c__comments
          ul.c__comments-list

            = partial "partials/comments-user"
            = partial "partials/comments-list"

