.content
  = partial "partials/slogan"

  .c__inner.c__inner--contacts.clearfix
    .c__info
      h1.c__page-title Контакты
      .c__contacts-map
        script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=6oGFKheKDdYmmtP4l5xneir3i3QEkumt&width=620&height=368"
      h2.c__contacts-title СМИ Телеканал &laquo;Реальный Тагил&raquo;
      .clearfix
        .c__contacts-address
          p.c__contacts-city
            | 622051, Нижний Тагил,
            br
            | ул. Тимирязева, 21
          p.c__contacts-phone
            | 8 (3435) 37-92-37
          p.c__contacts-email
            | realtag@ya.ru
        .c__svidetelstvo
          p.svidetelstvo-number
            | Свидетельство ТУ66-01271
            br
            | от 30.01.2014
          p.svidetelstvo-gone
            | Выдано УФСН в сфере связи
            br
            | информационных технологий
            br
            | и массовых коммуникаций по УРФО

    = partial "partials/sidebar"
