footer.footer
  .f__inner.clearfix
    .f__tagil

    ul.f__menu
      li.f__menu-item
        a.f__menu-link.f__menu-link--selected href="#" Главная
      li.f__menu-item
        a.f__menu-link href="#" О проекте
      li.f__menu-item
        a.f__menu-link href="#" Контакты

    .f__copyright-social
      .f__copyright &copy; 2014 Реальный Тагил совместно с УВЗ

      ul.f__social
        li.f__social-item
          a.f__social-link.f__social-link--google href="#" Google+
        li.f__social-item
          a.f__social-link.f__social-link--twitter href="#" Twitter
        li.f__social-item
          a.f__social-link.f__social-link--facebook href="#" Facefook
        li.f__social-item
          a.f__social-link.f__social-link--vk href="#" VK

      a.f__author href="#"
        span.f__author-lab Лаборатория
        | &nbsp;Алексея Маслова
