header.header
  .h__inner.clearfix
    .h__tagil

    ul.h__menu
      li.h__menu-item
        a.h__menu-link.h__menu-link--selected href="#" Главная
      li.h__menu-item
        a.h__menu-link href="#" О проекте
      li.h__menu-item
        a.h__menu-link href="#" Контакты

    .h__phone +7 800 350 21 32

    ul.h__social
      li.h__social-item
        a.h__social-link.h__social-link--google href="#" Google+
      li.h__social-item
        a.h__social-link.h__social-link--twitter href="#" Twitter
      li.h__social-item
        a.h__social-link.h__social-link--facebook href="#" Facefook
      li.h__social-item
        a.h__social-link.h__social-link--vk href="#" VK