.c__sidebar
  a.c__info-block href="#"
    img.c__info-block__image src="/img/temp/1.jpg" alt=""
    .c__info-block__caption.clearfix
      .c__info-block__title Ничего не значащий заголовок
      .c__info-block__date 15.02.2014
  a.c__info-block href="#"
    img.c__info-block__image src="/img/temp/2.jpg" alt=""
    .c__info-block__caption.clearfix
      .c__info-block__title Ничего не значащий заголовок
      .c__info-block__date 15.02.2014
  .c__ad-block
    h3.c__ad-title Разместить рекламу
    form action='/'
      input.c__ad-input type="text" name="name" placeholder="Имя"
      input.c__ad-input type="text" name="company" placeholder="Компания"
      input.c__ad-input type="email" name="email" placeholder="E-mail"
      textarea.c__ad-textarea name="message" placeholder="Сообщение" 
      button.c__ad-button.js-ad-send-handler Отправить
      .c__ad-thankyou.hide Спасибо за ваше обращение
