.c__slogan
  .c__slogan-contacts
    | Предложи сюжет
    br
    | +7 (3435) 37-92-37
    br
    | realtag@ya.ru

  .c__slogan-channal
    | Новый телеканал
    br
    | по будням в 19:00 на канале

  .c__slogan-host Алина Пишванова