a.c__info-block href="#"
  img.c__info-block__image src="/img/temp/1.jpg" alt=""
  .c__info-block__caption.clearfix
    .c__info-block__title Очень длинный заголовок чтобы не уместился
    .c__info-block__date 15.02.2014
a.c__info-block href="#"
  img.c__info-block__image src="/img/temp/2.jpg" alt=""
  .c__info-block__caption.clearfix
    .c__info-block__title Ничего не значащий заголовок
    .c__info-block__date 15.02.2014
a.c__info-block href="#"
  img.c__info-block__image src="/img/temp/3.jpg" alt=""
  .c__info-block__caption.clearfix
    .c__info-block__title Ничего не значащий заголовок
    .c__info-block__date 15.02.2014
a.c__info-block href="#"
  img.c__info-block__image src="/img/temp/3.jpg" alt=""
  .c__info-block__caption.clearfix
    .c__info-block__title Ничего не значащий заголовок
    .c__info-block__date 15.02.2014
a.c__info-block href="#"
  img.c__info-block__image src="/img/temp/1.jpg" alt=""
  .c__info-block__caption.clearfix
    .c__info-block__title Очень длинный заголовок чтобы не уместился
    .c__info-block__date 15.02.2014
a.c__info-block href="#"
  img.c__info-block__image src="/img/temp/2.jpg" alt=""
  .c__info-block__caption.clearfix
    .c__info-block__title Ничего не значащий заголовок
    .c__info-block__date 15.02.2014
a.c__info-block href="#"
  img.c__info-block__image src="/img/temp/3.jpg" alt=""
  .c__info-block__caption.clearfix
    .c__info-block__title Ничего не значащий заголовок
    .c__info-block__date 15.02.2014
a.c__info-block href="#"
  img.c__info-block__image src="/img/temp/3.jpg" alt=""
  .c__info-block__caption.clearfix
    .c__info-block__title Ничего не значащий заголовок
    .c__info-block__date 15.02.2014
a.c__info-block href="#"
  img.c__info-block__image src="/img/temp/3.jpg" alt=""
  .c__info-block__caption.clearfix
    .c__info-block__title Ничего не значащий заголовок
    .c__info-block__date 15.02.2014
