$fontUralProPath: './fonts/Ural/';

@font-face {
    font-family: 'ural_bold';
    src: url($fontUralProPath + 'ural2-webfont.eot');
    src: url($fontUralProPath + 'ural2-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontUralProPath + 'ural2-webfont.woff') format('woff'),
         url($fontUralProPath + 'ural2-webfont.ttf') format('truetype'),
         url($fontUralProPath + 'ural2-webfont.svg#ural_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ural_regular';
    src: url($fontUralProPath + 'ural_regular.eot');
    src: url($fontUralProPath + 'ural_regular.eot?#iefix') format('embedded-opentype'),
         url($fontUralProPath + 'ural_regular.woff') format('woff'),
         url($fontUralProPath + 'ural_regular.ttf') format('truetype'),
         url($fontUralProPath + 'ural_regular.svg#ural_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$fontHelveticaNeuePath: './fonts/HelveticaNeue/';

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url($fontHelveticaNeuePath + 'helveticaneuecyr-roman-webfont.eot');
    src: url($fontHelveticaNeuePath + 'helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontHelveticaNeuePath + 'helveticaneuecyr-roman-webfont.woff') format('woff'),
         url($fontHelveticaNeuePath + 'helveticaneuecyr-roman-webfont.ttf') format('truetype'),
         url($fontHelveticaNeuePath + 'helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;

}